! ==================================================
! Name : Xresources
! Descrption : Xresources Configuration File
! Author : Alexandre Figueiredo, aka alexfgrdo
! Modifications by Hakan Erduman, aka aquaherd
! ==================================================

! -- cursor --
Xcursor.size: 24
Xcursor.theme: "Adwaita"

! --------------------------------------------------
! URxvt
! --------------------------------------------------
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.font: xft:Iosevka NFM:size=13
URxvt.letterSpace:0 
URxvt.lineSpace: 0
URxvt.internalBorder: 20
URxvt.cursorColor: #f8f8f2
URxvt.cursorBlink: false
URxvt.scrollBar: false
URxvt.depth: 32
URxvt.background: [95]#282a36
URxvt.mouseWheelScrollPage: false
! --------------------------------------------------
! Rofi
! --------------------------------------------------
rofi.fullscreen: false 
rofi.color-enabled: true
! rofi.font: Fira Code Medium 12
rofi.line-margin: 5
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.lines: 15
rofi.width: 50
rofi.padding: 100
rofi.bw: 0
rofi.show-icons: true
! rofi.color-window: argb:CC282a36
! rofi.color-normal: argb:02000000,#f8f8f2,argb:02000000,argb:02000000,#ff79c6
! rofi.color-active: argb:02000000,#f8f8f2,argb:02000000,argb:02000000,#f8f8f2
! rofi.color-urgent: argb:02000000,#f8f8f2,argb:02000000,argb:02000000,#f8f8f2

! --------------------------------------------------
! Colors
! --------------------------------------------------
*.foreground: #f8f8f2
*.background: #282a36
*.fg:         #f8f8f2
*.bg:         #282a36
*.color0:     #44475a
*.color8:     #44475a
*.color1:     #ff5555
*.color9:     #ff6e67
*.color2:     #50fa7b
*.color10:    #5af78e
*.color3:     #f1fa8c
*.color11:    #f4f99d
*.color4:     #bd93f9
*.color12:    #caa9fa
*.color5:     #ff79c6
*.color13:    #ff92d0
*.color6:     #8be9fd
*.color14:    #9aedfe
*.color7:     #f8f8f2
*.color15:    #f8f8f2

! --------------------------------------------------
! Displays
! --------------------------------------------------
#include ".local/.Xresources"
#ifndef PRIMARY
#define PRIMARY DP-0
#endif
#ifndef SECONDARY
#define SECONDARY DP-1
#endif
#ifndef LAYOUT
#define LAYOUT single
#endif
#ifndef TEMP
#define TEMP /sys/class/hwmon/hwmon0/temp1_input
#endif
Xdisplay.primary: PRIMARY
Xdisplay.secondary: SECONDARY
Xdsiplay.serverhost: SERVERHOST
Xdsiplay.clienthost: CLIENTHOST
Xdisplay.layout: LAYOUT
hwmon.temperature: TEMP

XEyes*foreground: #282a36
XEyes*background: #44475a

XClock*hourColor: #f8f8f2
XClock*minuteColor: #f1fa8c
XClock*secondColor: #caa9fa
XClock*majorColor: #bd93f9
XClock*minorColor: #bd93f9
XCLock*render: true

XLoad*foreground: #bd93f9
XLoad*Label*Justify: center
*internalBorderWidth: 8

!suckless
st.font: Iosevka NFM:pixelsize=19:style=Medium
st.alpha: 0.95
st.borderpx: 16

dmenu.font: Iosevka NFM:pixelsize=20:style=Medium
!dmenu.alpha: 0.99
dmenu.background: #44475a
dmenu.selbackground: #bd93f9

dwm.normbgcolor: #44475a
dwm.normfgcolor: #bd93f9
dwm.selbordercolor: #bd93f9
dwm.selbgcolor: #bd93f9
dwm.tagsselbgcolor: #bd93f9
dwm.titlenormbgcolor: #bd93f9

! zutty
Zutty.font:	JetBrainsMono
Zutty.fontsize:	18
Zutty.border:	20
