! ==================================================
! Name : Xresources
! Descrption : Xresources Configuration File
! Author : Alexandre Figueiredo, aka alexfgrdo
! Modifications by Hakan Erduman, aka aquaherd
! ==================================================

! -- cursor --
Xcursor.size: 24
Xcursor.theme: "DMZ-Black"

! --------------------------------------------------
! URxvt
! --------------------------------------------------
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.font: xft:Fira Code Retina:size=13
URXVT.font: xft:Fira Code Retina:bold:size=13
URxvt.letterSpace:0 
URxvt.lineSpace: 0
URxvt.internalBorder: 20
URxvt.cursorColor: #f8f8f2
URxvt.cursorBlink: false
URxvt.scrollBar: false
URxvt.depth: 32
URxvt.background: [90]#282a36
URxvt.mouseWheelScrollPage: true
! --------------------------------------------------
! Rofi
! --------------------------------------------------
rofi.fullscreen: false 
rofi.color-enabled: true
! rofi.font: Fira Code Medium 12
rofi.line-margin: 5
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.lines: 15
rofi.width: 50
rofi.padding: 100
rofi.bw: 0
rofi.show-icons: true
! rofi.color-window: argb:CC282a36
! rofi.color-normal: argb:02000000,#f8f8f2,argb:02000000,argb:02000000,#ff79c6
! rofi.color-active: argb:02000000,#f8f8f2,argb:02000000,argb:02000000,#f8f8f2
! rofi.color-urgent: argb:02000000,#f8f8f2,argb:02000000,argb:02000000,#f8f8f2

! --------------------------------------------------
! Colors
! --------------------------------------------------
*.foreground: #f8f8f2
*.background: #282a36
*.color0:     #44475a
*.color8:     #44475a
*.color1:     #ff5555
*.color9:     #ff6e67
*.color2:     #50fa7b
*.color10:    #5af78e
*.color3:     #f1fa8c
*.color11:    #f4f99d
*.color4:     #bd93f9
*.color12:    #caa9fa
*.color5:     #ff79c6
*.color13:    #ff92d0
*.color6:     #8be9fd
*.color14:    #9aedfe
*.color7:     #f8f8f2
*.color15:    #f8f8f2

! --------------------------------------------------
! Displays
! --------------------------------------------------
! home:
#ifdef SRVR_rocky
	#define SECONDARY HDMI-A-0
	#define PRIMARY DisplayPort-0
	#define TEMP /sys/class/hwmon/hwmon1/temp2_input
	#define LAYOUT dual
! work:
#elif SRVR_pc198 // work
	#define PRIMARY DP-1
	#define SECONDARY DP-3
	#define TEMP /sys/class/hwmon/hwmon0/temp1_input
	#define LAYOUT dual
! fixme:
#else // dunno
	#define PRIMARY DisplayPort-0
	#define SECONDARY DisplayPort-1
	#define TEMP /sys/class/hwmon/hwmon0/temp1_input
	#define LAYOUT single
#endif
Xdisplay.primary: PRIMARY
Xdisplay.secondary: SECONDARY
Xdsiplay.serverhost: SERVERHOST
Xdsiplay.clienthost: CLIENTHOST
Xdisplay.layout: LAYOUT
hwmon.temperature: TEMP
