###############################################################################
# International Holiday Data provided by Holidata.net
# https://holidata.net/de-DE/2023.json
# https://holidata.net/de-DE/2024.json
#
# Copyright 2006 - 2021, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# https://www.opensource.org/licenses/mit-license.php
#
###############################################################################

holiday.de-DE1.name=Neujahr
holiday.de-DE1.date=20230101
holiday.de-DE6.name=Karfreitag
holiday.de-DE6.date=20230407
holiday.de-DE7.name=Ostern
holiday.de-DE7.date=20230409
holiday.de-DE8.name=Ostermontag
holiday.de-DE8.date=20230410
holiday.de-DE9.name=Erster Maifeiertag
holiday.de-DE9.date=20230501
holiday.de-DE10.name=Christi Himmelfahrt
holiday.de-DE10.date=20230518
holiday.de-DE11.name=Pfingstsonntag
holiday.de-DE11.date=20230528
holiday.de-DE12.name=Pfingstmontag
holiday.de-DE12.date=20230529
holiday.de-DE20.name=Tag der Deutschen Einheit
holiday.de-DE20.date=20231003
holiday.de-DE36.name=Heilig Abend
holiday.de-DE36.date=20231224
holiday.de-DE37.name=Weihnachtstag
holiday.de-DE37.date=20231225
holiday.de-DE38.name=Zweiter Weihnachtstag
holiday.de-DE38.date=20231226
holiday.de-DE39.name=Silvester
holiday.de-DE39.date=20231231
